.DetectedBar {
    background-color: #286C96;
    height: 63px;
    width: 805px;
    display: flex;
    align-items: center;
    padding-left: 57px;
    color: white;
}

.AEDetected {
    border-right: 2px solid #C8C8C8;
    height: 800px;
}

.AEInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 20px;
}

#TimeTitlePadding {
    margin-left: 80px;
}

#TimePadding {
    margin-left: 140px;
}

.Title, #DateTitle, #TimeTitlePadding {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #767676;
}


#AEYesNoteByUser{
    padding-left: 600px;
}

#AEYesNoteDTS{
    color: #767676;
    font-size: 13px;
}
